body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
}

a {
  text-decoration: underline rgba(255, 255, 255, 0.4);
  color: #ffffff;
}

a:hover {
  color: #ffbc9e;
}

a:active {
  color: #ffbc9e;
}

input[type="text"],
input[type="password"],
input[type=search] {
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  padding: 0 14px;
  color: #323232;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type=search]::placeholder {
  color: #999999;
  font-weight: 400;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type=search]:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
  padding: 0 13px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type=search]:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
  padding: 0 13px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1200px;
  padding: 0 25px;
  margin: 0 auto;
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  background-color: #f06441;
  border-radius: 50px 50px;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  box-sizing: border-box;
  outline: none;
}

.btn:hover {
  background: linear-gradient(rgba(245, 134, 105, 1), rgba(236, 111, 94, 1));
  box-shadow: 0px 2px 1px 0px rgba(172, 16, 0, 1);
  text-shadow: 0px 2px 2px rgba(172, 16, 0, 1);
  color: white;
}

.btn:active {
  background: linear-gradient(rgba(231, 74, 53, 1), rgba(242, 104, 67, 1));
  box-shadow: 0px 2px 2px 0px rgba(148, 39, 24, 1) inset;
  text-shadow: 0px 2px 2px rgba(160, 32, 11, 0.76);
  color: #fceeec;
}

.btn:focus {
  box-shadow: 0px 0px 0px 2px rgba(87, 161, 211, 1);
}

.main-header {
  padding-top: 12px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 64px;
}

.site-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav__item {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.site-nav>li:hover .dropdown-menu-catalog {
  display: block;
}

.site-nav__item a {
  padding: 7px 14px;
}

.site-nav__item a:hover {
  color: #333333;
  background-color: #f7f6f3;
  border-radius: 50px 50px;
  text-decoration: none;
}

.site-nav__item a:active {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px dimgrey;
}

.site-nav__item .index-logo {
  display: block;
  padding: 0;
  width: 154px;
  height: 64px;
  margin-right: 15px;
}

.site-nav__item .index-logo:hover {
  background-color: transparent;
}

.site-nav__item .index-logo:active {
  box-shadow: none;
}

.site-nav__item .curent {
  background-color: #d07058;
  color: white;
  border-radius: 50px;
  text-decoration: none;
}

.dropdown-menu-catalog {
  display: none;
  position: absolute;
  top: 27px;
  left: -6px;
  width: 143px;
  min-height: 171px;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.dropdown-menu-catalog li {
  width: 143px;
  min-height: 30px;
}

.dropdown-menu-catalog li:first-child {
  position: relative;
  height: 38px;
  margin-bottom: 5px;
}

.dropdown-menu-catalog li:first-child a {
  padding: 11px 19px;
  font-weight: 700;
  border-radius: 5px;
}

.dropdown-menu-catalog li:first-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 7px;
  width: 128px;
  height: 1px;
  opacity: 0.2;
  background-color: black;
}

.dropdown-menu-catalog a {
  display: block;
  position: relative;
  padding: 7px 19px;
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  box-sizing: border-box;
  text-decoration: none;
}

.dropdown-menu-catalog a:hover {
  border-radius: 0;
  background-color: #fbded7;
}

.dropdown-menu-catalog a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.dropdown-menu-catalog .curent {
  background-color: #d07058;
  color: white;
  border-radius: 0;
}

.user-nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-nav__item {
  position: relative;
  padding: 5px 0;
  margin-left: 10px;
  font-size: 0;
  line-height: 0;
}

.user-nav>.search:hover .modal-search-form {
  display: block;
}

.user-nav__item .search-btn {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border: 0;
}

.user-nav__item .search-btn:hover {
  background-color: rgba(255, 255, 255, 1);
}

.user-nav__item .search-btn:hover .search-icon {
  fill: black;
}

.search-btn svg {
  position: absolute;
  top: 7px;
  left: 8px;
  width: 17px;
  height: 17px;
}

.modal-search-form {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  width: 341px;
  height: 84px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  padding: 20px 15px;
  box-sizing: border-box;
  z-index: 1;
}

.modal-search-form input[type="text"] {
  width: 311px;
  height: 44px;
}

.user-nav__item .login-btn {
  position: relative;
  padding: 8px 14px 8px 45px;
  margin: 0;
  border: 0;
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.login-btn svg {
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 19px;
}

.user-nav__item .login-btn:hover {
  color: black;
}

.user-nav__item .login-btn:hover .login-icon {
  fill: black;
}

.user-nav>li:hover .modal-login-form {
  display: block;
}

.modal-login-form {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  width: 277px;
  height: 214px;
  padding: 20px 19px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  display: none;
  z-index: 1;
}

.modal-login-form input[type="text"],
.modal-login-form input[type="password"] {
  width: 241px;
  height: 44px;
  margin-bottom: 20px;
}

.modal-login-form button {
  float: left;
  display: inline-block;
  height: 44px;
  margin-right: 20px;
  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.modal-login-form a {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 5px;
}

.user-nav__item .basket-btn {
  position: relative;
  margin: 0;
  border: 0;
  padding: 8px 34px 8px 45px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}

.basket-btn svg {
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
}

.user-nav__item .basket-btn:hover {
  color: black;
}

.user-nav__item .basket-btn:hover .basket-icon {
  fill: black;
}

.user-nav>li:hover .modal-basket-form {
  display: block;
}

.modal-basket-form {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  width: 539px;
  min-height: 242px;
  padding: 20px 15px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  z-index: 1;
}

.modal-basket-form__product-item {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  color: #323232;
  font-size: 13px;
  line-height: 16px;
}

.modal-basket-form__product-item img {
  margin-right: 14px;
}

.modal-basket-form__product-item-remove {
  width: 12px;
  height: 12px;
  font-size: 0;
  padding: 0;
  margin-right: 9px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.modal-basket-form__product-item-remove::before,
.modal-basket-form__product-item-remove::after {
  content: "";
  position: absolute;
  left: 0;
  width: 12px;
  height: 1px;
  background-color: #231f20;
}

.modal-basket-form__product-item-remove::before {
  transform: rotate(45deg);
}

.modal-basket-form__product-item-remove::after {
  transform: rotate(-45deg);
}

.modal-basket-form__product-name {
  width: 230px;
  margin: 0;
  margin-right: 15px;
}

.modal-basket-form__product-weight {
  width: 110px;
  margin-right: 15px;
}

.modal-basket-form__total {
  position: relative;
  display: block;
  text-align: right;
  margin: 40px 0 20px 0;
  color: #323232;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.modal-basket-form__total::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 510px;
  height: 1px;
  background-color: #cacac7;
}

.modal-basket-form__btn {
  float: right;
}

.contact {
  float: right;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.contact p {
  margin: 0;
  text-align: right;
}

.contact span {
  font-size: 22px;
  line-height: 24px;
}

/* MAIN content */
.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider {
  position: relative;
  min-height: 535px;
  margin-bottom: 40px;
}

.slider__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1150px;
  padding-top: 225px;
}

.slide {
  display: none;
}

.slider__item h1 {
  width: 765px;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  margin-bottom: 35px;
}

.slider__item .central-btn {
  max-width: 380px;
  padding: 10px 40px;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

.slider-control__form {
  position: absolute;
  left: 0;
  bottom: 15px;
}

.slider-control__form label {
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin: 0 2px;
  cursor: pointer;
  transition: background 0.3s;
}

#btn-1:checked~.site-wrapper {
  background: #849d8f url("../img/slider1.png") no-repeat center top;
  transition: background 0.5s;
}

#btn-2:checked~.site-wrapper {
  background: #8996a6 url("../img/slider2.png") no-repeat center top;
  transition: background 0.5s;
}

#btn-3:checked~.site-wrapper {
  background: #9d8b84 url("../img/slider3.png") no-repeat center top;
  transition: background 0.5s;
}

#btn-1:checked~.site-wrapper #slide-1,
#btn-2:checked~.site-wrapper #slide-2,
#btn-3:checked~.site-wrapper #slide-3 {
  display: flex;
}

#btn-1:checked~.site-wrapper label[for="btn-1"],
#btn-2:checked~.site-wrapper label[for="btn-2"],
#btn-3:checked~.site-wrapper label[for="btn-3"] {
  background: #ffffff;
}

.hits {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.hits__item {
  width: 560px;
  min-height: 229px;
  padding: 20px;
  box-sizing: border-box;
}

.hits__item h2 {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.hits__item p {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 35px;
}

.hits__item a {
  float: right;
}

.hits__item-left {
  background: url("../img/item-left-bg.png") no-repeat;
}

.hits__item-right {
  background: url("../img/item-right-bg.png") no-repeat;
}

.options {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.options__item {
  position: relative;
  width: 267px;
  text-align: center;
  margin-bottom: 40px;
}

.options__item-hit {
  position: absolute;
  top: 0;
  left: 0;
}

.options__item-price {
  position: absolute;
  top: 210px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-weight: 700;
  line-height: 45px;
  font-size: 45px;
}

.options__item-price-kg {
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.5);
  font-size: 28px;
}

.options__item-ice-cream {
  margin-bottom: 8px;
}

.options__item-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.about-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: start;
  padding: 25px 20px;
  min-height: 306px;
  background: url("../img/about-us-bg.png") no-repeat;
  margin-bottom: 40px;
  box-sizing: border-box;
}

.about-us h2 {
  width: 100%;
  margin: 0;
  color: #323232;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.about-us-left {
  width: 540px;
  margin-right: 25px;
  box-sizing: border-box;
}

.about-us-right {
  width: 540px;
}

.about-us__item {
  position: relative;
  padding: 25px 0 0 57px;
}

.about-us__item img {
  position: absolute;
  width: 49px;
  height: 49px;
  left: 0;
  top: 5px;
}

.about-us__item p {
  margin: 0;
  color: #323232;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.con {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.news {
  width: 560px;
  min-height: 220px;
  padding: 22px 20px;
  background: url("../img/news-bg.png") no-repeat;
  box-sizing: border-box;
}

.news__title {
  margin: 0;
  margin-bottom: 5px;
  color: #323232;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.news__link {
  color: #323232;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: underline;
}

.subscribe {
  width: 560px;
  min-height: 220px;
  padding: 35px 26px;
  background: url("../img/subscribe-bg.png") no-repeat;
  box-sizing: border-box;
}

.subscribe__text {
  margin: 0;
  margin-bottom: 37px;
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.subscribe__input {
  width: 362px;
  height: 44px;
  padding-left: 14px;
  margin-right: 10px;
  background-color: white;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  box-sizing: border-box;
}

.map-canvas {
  position: relative;
  width: 1200px;
  background: url("../img/map-canvas-bg.png") no-repeat;
  min-height: 430px;
  margin: 0 auto;
}

.contact-us {
  position: absolute;
  right: 27px;
  top: 62px;
  width: 302px;
  height: 305px;
  padding: 30px 25px;
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 15px;
  box-sizing: border-box;
}

.contact-us p {
  margin: 5px 0;
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.contact-us b {
  margin: 0;
  color: #323232;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.contact-us button {
  width: 100%;
  margin-top: 20px;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-contact-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 477px;
  height: 442px;
  padding: 15px 25px;
  background-color: #f8f7f4;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: -221px;
  margin-left: -238px;
  z-index: 2;
  animation: bounce 0.6s;
}

.modal-contact-form h2 {
  margin: 0;
  margin-bottom: 25px;
  color: #323232;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 16px;
  width: 18px;
  height: 17px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.close-btn::before,
.close-btn::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  width: 19px;
  height: 2px;
  background-color: #231f20;
}

.close-btn::before {
  transform: rotate(45deg);
}

.close-btn::after {
  transform: rotate(-45deg);
}

.modal-contact-form input[type="text"] {
  width: 265px;
  height: 42px;
  margin-bottom: 20px;
}

.modal-contact-form textarea {
  width: 428px;
  height: 155px;
  padding: 15px;
  margin-bottom: 25px;
  resize: none;
  vertical-align: top;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  box-sizing: border-box;
}

.modal-contact-form button {
  float: right;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  min-height: 88px;
  margin-top: 15px;
}

.socials {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 280px;
}

.socials__btn {
  width: 31px;
  height: 31px;
  margin-right: 12px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.socials__btn:hover {
  border: 3px solid rgba(255, 255, 255, 0.7);
  opacity: 1;
}

.socials__btn-tw:hover {
  background: url("../img/twitter-icon-hover.svg") no-repeat center;
}

.socials__btn-inst:hover {
  background: url("../img/instagram-icon-hover.svg") no-repeat center;
}

.socials__btn-fb:hover {
  background: url("../img/facebook-icon-hover.svg") no-repeat center;
}

.socials__btn-vk:hover {
  background: url("../img/vk-icon-hover.svg") no-repeat center;
}

.socials__btn:active {
  box-shadow: 0px 2px 1px 0px rgba(136, 136, 136, 1) inset;
  border: 3px solid rgba(255, 255, 255, 0.7);
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  width: 320px;
  margin-top: 20px;
}

.footer-nav__col-1,
.footer-nav__col-2 {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  position: relative;
}

.footer-nav__link {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.footer-nav__col-1 .heart-icon::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -20px;
  width: 15px;
  height: 13px;
  background: url("../img/heart-icon.svg") no-repeat;
}

.copyrights {
  width: 280px;
  padding-left: 90px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  box-sizing: border-box;
}

.copyrights img {
  width: 108px;
  height: 39px;
}

/*


Каталог



*/
.body-catalog {
  background: #849d8f url("../img/catalog-bg.png") repeat-x center top;
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 10px;
}

.breadcrumbs li {
  display: inline-block;
  vertical-align: top;
}

.breadcrumbs li a {
  font-size: 14px;
  line-height: 16px;
  margin-right: 5px;
}

.breadcrumbs li span {
  font-size: 14px;
  line-height: 16px;
  margin-right: 5px;
}

.heading-title {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 30px;
}

.sorting {
  margin-bottom: 40px;
  padding-right: 100px;
}

.sorting fieldset {
  display: inline-block;
  margin: 0;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 0;
  border: none;
}

.sorting legend {
  display: block;
  margin: 0 15px 10px 15px;
  font-weight: 500;
}

.form-fill {
  display: inline-block;
  min-height: 36px;
  vertical-align: top;
  border-radius: 25px 25px;
  background: rgba(255, 255, 255, 0.2);
  font-size: 0px;
  color: #ffffff;
  padding: 5px 15px;
  box-sizing: border-box;
  cursor: pointer;
}

.form-fill input[type="radio"],
.form-fill input[type="checkbox"] {
  display: none;
}

.sort-1 .dropdown {
  height: 36px;
  font-size: 16px;
  font-weight: 500;
  padding-right: 50px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sort-1__background-wrapper {
  position: relative;
}

.icon-down {
  position: absolute;
  right: 12px;
  bottom: 12px;
  z-index: 1;
  pointer-events: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sort-1__background-wrapper:hover>.icon-down path {
  fill: #323232;
}

.sort-1 select:hover {
  color: #323232;
}

.dropdown option {
  color: #000000;
  background-color: #f8f7f4;
}

.sort-2__background-wrapper {
  position: relative;
  width: 218px;
  height: 36px;
  box-sizing: border-box;
}

.range-controls {
  position: absolute;
  bottom: 17px;
  left: 17px;
}

.scale {
  width: 175px;
  height: 4px;
  background: rgba(255, 255, 255, .3);
  margin-left: 5px;
}

.range-toggle {
  position: absolute;
  top: -8px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
  cursor: pointer;
}

.range-toggle:hover {
  width: 6px;
  height: 6px;
  cursor: pointer;
}

.bar {
  width: 103px;
  height: 4px;
  background: #ffffff;
  margin-left: 25px;
}

.range-toggle-min {
  left: 17px;
}

.range-toggle-max {
  right: 43px;
}

.sort-3 .form-fill label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  margin-right: 12px;
}

.sort-3 .form-fill input[type="radio"]:checked+label::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 5px;
  top: 6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
}

.sort-3 .form-fill label:hover::before {
  border: 2px solid rgba(255, 255, 255, 1);
}

.sort-3 .form-fill input[type="radio"]:checked+label:hover::after {
  background-color: rgba(255, 255, 255, 1);
}

.sort-3 .form-fill label:disabled::before {
  border: 2px solid rgba(255, 255, 255, 0.4);
}

.sort-3 .form-fill input[type="radio"]:checked+label:disabled::after {
  background-color: rgba(255, 255, 255, 0.4);
}

.form-fill label {
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 20px;
  line-height: 25px;
  font-size: 16px;
  font-weight: 500;
}

.sorting .sort-4 {
  margin-right: 0px;
}

.sort-4 .form-fill label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  margin-right: 12px;
}

.sort-4 .form-fill input[type="checkbox"]:checked+label::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 4px;
  top: 0;
  width: 14px;
  height: 7px;
  border: 4px solid rgba(255, 255, 255, 0.8);
  border-top-style: none;
  border-right-style: none;
  transform: rotate(-45deg);
}

.sort-4 .form-fill label:hover::before {
  border: 2px solid rgba(255, 255, 255, 1);
}

.sort-4 .form-fill input[type="checkbox"]:checked+label:hover::after {
  border: 4px solid rgba(255, 255, 255, 1);
  border-top-style: none;
  border-right-style: none;
}

.sort-btn {
  width: 174px;
  border: 2px solid #ffffff;
  box-shadow: none;
  font-size: 16px;
  line-height: 22px;
  background: rgba(255, 255, 255, 0.2);
  vertical-align: bottom;
  padding: 5px;
  margin-left: 15px;
}

.sort-btn:hover {
  background: rgba(255, 255, 255, 1);
  color: #363636;
  text-shadow: none;
  box-shadow: none;
}

.sort-btn:active {
  box-shadow: inset 0 2px 1px 0 #696969;
  background-color: #ededed;
}

.fast-view {
  position: absolute;
  display: none;
  bottom: -55px;
  left: 30px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  z-index: 2;
}

.options-catalog .options__item::after {
  position: absolute;
  content: "";
  left: -13px;
  top: -8px;
  width: 293px;
  height: 405px;
  border-radius: 5px;
}

.options-catalog .options__item:hover>.fast-view {
  display: block;
}

.options-catalog .options__item:hover::after {
  background-color: rgba(248, 247, 244, .2);
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
  z-index: 1;
}

.options-catalog .options__item:hover {
  cursor: pointer;
}

.paginator {
  position: relative;
  width: 190px;
  padding-left: 916px;
  margin-top: 40px;
  margin-bottom: 50px;
  white-space: nowrap;
}

.paginator a {
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
  min-width: 25px;
  height: 25px;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  text-decoration: none;
  font-weight: 600;
  color: white;
}

.paginator a:hover {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}

.paginator a:active {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  color: #000000;
}

.paginator .prev {
  background-image: url("../img/prev-icon.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.paginator .next {
  background-image: url("../img/prev-icon.svg");
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-position: 50%;
}

.paginator .current-page {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  color: #000000;
}

.paginator .disabled {
  opacity: 0.2;
}

.paginator::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 1146px;
  height: 1px;
  opacity: 0.3;
  background-color: white;
}

.modal-show {
  display: block;
}

/*

Анимация

*/
@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
